.filter-container {
  width: 100%;
}

.toy-filter {
  margin-top: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: var(--clr2bg);
  padding: 1em;
  border-radius: .5em;
}

.toy-filter input {
  height: 2em;
  padding-left: .5em;
  border-radius: 1em;
  background-color: var(--clr2bg-light);
}

.toy-filter select {
  height: 2em;
  padding-left: .5em;
  border-radius: 1em;
  background-color: var(--clr2bg-light);
}

@media(max-width: 720px) {
  .toy-filter {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
  }
}