.toy-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

.toy-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0.5em;
    padding: 1em;
}

.btn-edit:hover {
    background-color: var(--clr1bg);
}

@media(max-width: 420px) {
    .toy-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .toy-list li {
        padding: .5em;
        margin: 5px;
    }
}