.toy-edit-add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toy-edit-add form {
    display: flex;
    gap: .5em;
    align-items: center;
    padding: .5em;
    height: 20vh;
}

.toy-edit-add a {
    background-color: var(--clr2bg);
    padding: 0.5em;
    border-radius: 0.5em;
    width: max-content;
}