.toy-details {
    margin-top: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border: 1px solid var(--gray2);
    border-radius: 1em;
}

.toy-details a {
    background-color: var(--clr2bg);
    padding: 0.5em;
    border-radius: 0.5em;
    width: max-content;
}