.toy-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-add-toy {
    margin-top: 1em;
}

.btn-add-toy:hover {
    background-color: green;
    scale: 1.05;
}